<form [formGroup]="loginForm" (submit)="login()">
  <h1 class="form-title">Login</h1>
  <div class="input-field">
    <label>Email</label>
    <input type="text" formControlName="email" placeholder="Enter your email" />
  </div>
  <div class="input-field">
    <label>Password</label>
    <input
      type="text"
      formControlName="password"
      placeholder="Enter your password"
    />
  </div>
  <button class="submit" [disabled]="!loginForm.valid">Login</button>
  <p>
    Don't have an account <span routerLink="../register"> Register Now!</span>
  </p>
</form>
